{
    "port": 1337,
    "security": {
        "tokenLife" : 3600
    },
    "mongoose": {
        "uri": "mongodb://dev:l3d3vp4ss@localhost:27017/devlialu"
    },
    "default": {
        "api": {
            "version" : "v1"
        },
        "client": {
            "name": "Android API v1",
            "clientId": "android",
            "clientSecret": "SomeRandomCharsAndNumbers"
        }
    },
    "redis": {
        "port": 6379
    }
}
